.idea

virtualenv
.DS_Store
db.sqlite3
explore_scotland/__pycache__/
explore_scotland_app/__pycache__/
explore_scotland_app/migrations/__pycache__/
worksapce.xml
explore_scotland_app/templatetags/__pycache__
explore_scotland_app/migrations