{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block title_block %}
     About Explore Scotland
{% endblock %}

{% block body_block %}
    <div>
        Here is the about page for Explore Scotland. <br />
        This has been put together by Ting Ting van Abbema.<br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div>
        <br />
        <p>Visits: {{ visits }}</p>
        <br />
        <img src="/static/images/ScotlandImage.jpg" alt="Picture of Scotland" />
        <hr />
        <br />
        <img src="{{ MEDIA_URL }}LochLomond.jpg" alt="Picture of Loch Lomond" />
    </div>
{% endblock %}
