   {% extends './base.html' %}
{% load static %}

{% block title_block %}About{% endblock %}

{% block body_block %}
<div>
	<h4>About Explore Glasgow!</h4>
	<p>The objective of our application is to provide people who like to share photos
		and the people who like to look at photos,
		a safe place to engage in the sharing of their photo collections of their city.

		For the users, the application will provide tools to allow photo-owners to upload their photos,
		add tags, and input brief descriptions.
		They will be able to see the total number of likes for their photo post
		and be notified of new likes and comments received from viewers.
		They can also read and interact with people’s comments.
		The application will sort out the daily, weekly, monthly and overall most-liked photos by algorithm.
		Users can like and comment on the photos.
		They can also add the photos that they like to their “Favorite” folder.
		Moreover, they can search for photos (using tags, location etc.)
		and sort the order of display by posted time or number of likes.

		For the visitors, they can view the photos and register an account.</p>
</div>

<div class="mt-5">
	<h4>Terms</h4>
	<p>

		We hereby declare "Unintentional Copyright Infringement"<br>
		According to Internet copyright regulations,
		all pictures on this website follow all or most of the following principles during use:<br><br />

		~ For education or learning purposes Only<br>
		~ Indicate copyright owner<br>
		~ Does not include business elements<br>
		~ Not monetizing content<br>
		~ Similar content elsewhere on the Internet<br><br />


		The pictures on the website are partly from the Internet. <br>
		The sample pictures of this website are
		from the public display pictures of the following websites or organizations:<br><br />
		~ http://www.visitbritain.com<br>
		~ http://www.bigseventravel.com<br>
		~ http://www.suyashchopra.wordpress.com<br>
		~ http://www.worldtravelguide.net<br>
		~ http://www.historic-uk.com<br>
		~ http://www.Moneyweek.com<br>
		~ http://www.GrantProperty.com<br>
		~ Scotland travel guide, CNN<br>
	</p>
</div>

<div class="mt-5">
	<h4>Privacy</h4>
	<p> Copyright © 2020 Team F. All web design rights reserved.<br><br />

		The pictures in this website are not allowed to be reprinted.<br>


	</p>
</div>

<div class="mt-5">
	<h4>Contact</h4>
	<p>Contact details to be updated</p>
</div>

<div class="mt-5">
	<h4>FAQ</h4>
	<p>FAQ to be updated</p>
</div>
{% endblock %}