<!DOCTYPEhtml>
{% load static %}
<html>

<head>
    <title>Explore Scotland - {% block title_block %}{% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'explore_scotland_app/main.css' %}">
</head>

<body>
    {% block body_block %} {% endblock %}
    <footer>
		<a href="https://google.com">
			<button> Copyright @2020 Team-"LAT" All rights reserved </button>
		</a>
		<a href="https://google.com">
			<button> Daily Board </button>
		</a>
		<a href="https://google.com">
			<button> Weekly Board </button>
		</a>
		<a href="https://google.com">
			<button> Monthly Board </button>
		</a>
		<a href="https://google.com">
			<button> Overall Board </button>
		</a>
		<a href="https://google.com">
			<button> Support </button>
		</a>
		<a href="https://google.com">
			<button> ContactUs </button>
		</a>
		<a href="https://google.com">
			<button> Terms </button>
		</a>
		<a href="https://google.com">
			<button> Privacy </button>
		</a>
		<a href="https://google.com">
			<button> FAQ </button>
		</a>
	</footer>
</body>

</html>