{% extends './base.html' %}
{% load static %}

{% block title_block %} Upload Photo {% endblock %}

{% block body_block %}
	<h1>Edit Photo</h1>
	<strong>Edit your photo here!</strong> <br/>
	<div class="photo-container">
		<img class="border rounded mw-100" src={{photo.picture.url}}>
	</div>
	<form id="photo_form" method="post" action="{% url 'explore_scotland_app:edit_photo' photo.pk %}" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- Display each form -->
		{{ photo_form.as_p }}
		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Update" class="btn btn-primary" />
	</form>
{% endblock %}