{% extends './base.html' %}
{% load static %}
{% load explore_scotland_tags %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
<div>
	<h2 class="homepagetitle text-center"><span style="color:#6495ED"> Share &</span>
	<span style="color:#DC143C"> Love </span> </h2>
</div>

<div class="row">
	<div class="col-lg-4 border bg-light d-flex justify-content-center p-5">
		{% get_search_form %}
	</div>
	<div class="col-lg-8 decor-photo p-0 d-none d-lg-block">
		<img src="{% static 'explore_scotland_app/img/hero.jpg' %}" alt="" class="img-responsive" width="100%" height="auto">
	</div>
</div>

{% endblock %}