{% extends './base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
<div>
	<h2 class="homepagetitle text-center"><span style="color:#6495ED"> Share &</span>
	<span style="color:#DC143C"> Love </span> </h2>
</div>

<div class="row">
	<div id="photoCarousel" class="carousel slide col-8" data-ride="carousel">
	  <ol class="carousel-indicators">
	  </ol>
	  <div class="carousel-inner">
	  </div>
	  <a class="carousel-control-prev" href="#photoCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#photoCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
	<div class="col-4 d-flex align-items-center">
		<form id="search_form" action="{% url 'explore_scotland_app:search_photos' %}" method="get" class="mx-auto d-flex flex-column align-items-start mt-5">
			<div>
				<label class="">Search (Leave blank to see all photos)</label>
				<input type="text" name="keyword" placeholder="Enter keyword, location or tag"/>
			</div>
	
			<div>
				<label class="mt-3 d-block">Sort-by</label>
				<select name="sort-by">
					<option value="likes">Most Liked</option>
					<option value="latest">Latest Uploads</option>
				</select>
			</div>
		
			<div>
				<label class="mt-3 d-block">Category</label>
				<select name="category">
					<option value="all">All</option>
					{% for category in categories %}
					<option value="{{category.0}}">{{category.1}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div class="mt-3">
				<input type="submit" value="Explore Scotland!">
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block script_block %}
<script>

$('document').ready(function(){
	var url = "{% url 'explore_scotland_app:get_photos' %}";
	$.ajax(url,
	{
		dataType: 'json', // type of response data
		timeout: 500,     // timeout milliseconds
		success: function (data,status,xhr) {   // success callback function
			data = JSON.parse(data);
			var active = 'active';
			data.map((photo, i)=>{
				var photoMeta = `<li data-target="#photoCarousel" data-slide-to="${i}" class="${active}"></li>`
				var photoDiv = `<div class="carousel-item ${active} text-center">
									<a href='{% url 'explore_scotland_app:picture_details_without_key' %}${photo.pk}'>
										<img src="{{MEDIA_URL}}/${photo.fields.picture_square}" alt="" class="img-fluid" width="80%" height="auto">
									</a>
								</div>`;
				$('.carousel-indicators').append(photoMeta);
				$('.carousel-inner').append(photoDiv);
				active = '';
			});
		},
		error: function (jqXhr, textStatus, errorMessage) { // error callback 
			$('.carousel-inner').append('Error: ' + errorMessage);
		}
	});
	
	$("#{{board_type}}").addClass('mb-5');
});
</script>
{% endblock %}