{% extends './base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
<!-- 
<div class="row p-3">
	<div class="col-11 text-center">
		<img src="{% static 'explore_scotland_app/logo/logo.png' %}" width="150" height="150"  alt="Logo"/>
	</div>
	<div class="col-1">
		<div class="bg-dark rounded-circle profile-circle"></div>
	</div>
</div>
 -->

<div class="text-center">
	<img src="{% static 'explore_scotland_app/logo/logo.png' %}" width="150" height="150"  alt="Logo"/>
</div>

<h2 class="homepagetitle text-center"><span style="color:#6495ED"> Share &</span>
<span style="color:#DC143C"> Love </span> </h2>

<div class="photo-bar">
	
</div>
{% endblock %}

{% block script_block %}
<script>
$('document').ready(function(){
	$.ajax("{% url 'explore_scotland_app:get_photos' %}",
	{
		dataType: 'json', // type of response data
		timeout: 500,     // timeout milliseconds
		success: function (data,status,xhr) {   // success callback function
			data.map((photo)=>{
				var photoDiv = `<a href='{% url 'explore_scotland_app:picture_details_without_key' %}/${data.pk}'><div class='photo'><img src='${data.picture.url}'/></div></a>`;
				$('.photo-bar').append(photoDiv);
			})
		},
		error: function (jqXhr, textStatus, errorMessage) { // error callback 
			$('.photo-bar').append('Error: ' + errorMessage);
		}
	});
});
</script>
{% endblock %}