  {% extends './base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}

<div class="photo-bar">
	
</div>
{% endblock %}

{% block script_block %}
<script>
$('document').ready(function(){
	var url = {% if board_type == 'daily-board' %}
				"{% url 'explore_scotland_app:get_photos' %}"
				{% elif board_type == 'weekly-board' %}
				"{% url 'explore_scotland_app:get_photos' %}"
				{% elif board_type == 'monthly-board' %}
				"{% url 'explore_scotland_app:get_photos' %}"
				{% elif board_type == 'overall-board' %}
				"{% url 'explore_scotland_app:get_photos' %}"
				{% endif %};
	$.ajax(url,
	{
		dataType: 'json', // type of response data
		timeout: 500,     // timeout milliseconds
		success: function (data,status,xhr) {   // success callback function
			data = JSON.parse(data);
			data.map((photo)=>{
				var photoDiv = `
									<div class='photo-container'>
										<a href='{% url 'explore_scotland_app:picture_details_without_key' %}${photo.pk}'>
											<img class="border rounded mw-100" src='{{MEDIA_URL}}/${photo.fields.picture}'/>
										</a>
									</div>
									<p>
										<strong>${photo.fields.owner}</strong> ${photo.fields.description}
									</p>
								`;
				$('.photo-bar').append("<h4>10 Latest Photos</h4>");
				$('.photo-bar').append(photoDiv);
			});
		},
		error: function (jqXhr, textStatus, errorMessage) { // error callback 
			$('.photo-bar').append('Error: ' + errorMessage);
		}
	});
	
	$("#{{board_type}}").addClass('mb-5');
});
</script>
{% endblock %}