{% extends './base.html' %}
{% load static %}
{% load explore_scotland_tags %}

{% block title_block %}Dashboard{% endblock %}

{% block body_block %}
<h2 class="homepagetitle text-center"><span style="color:#6495ED"> Share &</span>
<span style="color:#DC143C"> Love </span> </h2>

<div>
	<h4>Your Uploaded Photos</h4>
	{% get_photo_grid photos=request.user.profile.photos_uploaded.all %}
</div>

<div class="mt-5">
	<h4>Your Liked Photos (Favourites)</h4>
	{% get_photo_grid photos=request.user.profile.photos_liked.all %}
</div>
{% endblock %}
