{% extends './base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
<h4>Search results for {{query}} sorted by {{sorted_by}}</h4>
<div class="photo-bar  d-flex align-items-center">
	{% for photo in photos %}
		<div>
			<div class='photo-container'>
				<a href="{% url 'explore_scotland_app:picture_details' photo.pk %}">
					<img class="border rounded mw-100" src='{{photo.picture.url}}'/>
				</a>
			</div>
			<p>
				<strong>{{photo.owner}}</strong> {{photo.description}}
			</p>
		</div>
	{% endfor %}
</div>
{% endblock %}
