{% extends './base.html' %}
{% load static %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
<div>
	<form id="search_form" action="{% url 'explore_scotland_app:search_photos' %}" method="get" class="m-auto d-flex flex-column align-items-center">
		<div>
			<label class="text-center">Search (Leave blank to see all photos)</label>
			<input type="text" name="keyword" placeholder="Enter keyword, location or tag" value="{{query}}"/>
		</div>
	
		<div>
			<label class="mt-3 d-block text-center">Sort-by</label>
			<select name="sort-by">
				<option value="likes" {% if sorted_by == 'likes' %}selected{% endif %}>Most Liked</option>
				<option value="latest" {% if sorted_by == 'latest' %}selected{% endif %}>Latest Uploads</option>
			</select>
		</div>
	
		<div class="mt-3">
			<input type="submit" value="Explore Scotland!">
		</div>
	</form>
</div>
<div class="mt-5">
	<h4>Search results for {{query}} sorted by {{sorted_by}}</h4>
	<div class="photo-bar d-flex align-items-center">
		{% if not photos %}
			<p class="text-center">No results</p>
		{% endif %}
		{% for photo in photos %}
			<div>
				<div class='photo-container'>
					<a href="{% url 'explore_scotland_app:picture_details' photo.pk %}">
						<img class="border rounded mw-100" src='{{photo.picture.url}}'/>
					</a>
				</div>
				<p>
					<strong>{{photo.owner}}</strong> {{photo.description}}
				</p>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
