body{
	font-family:arial;
}

footer * {
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	box-shadow: 8px 8px 8px 1px #888888;
}

.photo-container{
	width: 300px;
	heigh: auto;
}

.profile-circle{
	width: 30px;
	height: 30px;
}

.hide-this{
	display: none;
}

a {
	text-decoration: none;	
}