body {
	font-family: arial;
}

footer * {
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	box-shadow: 8px 8px 8px 1px #888888;
}

footer *, footer a:hover {
	background: white;
	color: black;
	text-decoration: none;
}

footer a:hover {
	transform: translateY(-10px);
}

.photo-container{
	width: 300px;
	heigh: auto;
}

.photo-container-big{
	width: 100%;
	heigh: auto;
}


.profile-circle{
	width: 30px;
	height: 30px;
}

.hide-this{
	display: none;
}

a {
	text-decoration: none;	
}

form {
	max-width: 300px;
}

#daily-board{
	background-color: orange;
}

#weekly-board{
	background-color: #5afc03;
}

#monthly-board{
	background-color: #03d3fc;
}

#overall-board{
	background-color: #8003fc;
}

.photo-container{
	margin-right: 20px;
}

.fb-login-button, .ig-login-button, .twitter-login-button, .fb-login-button:hover, .ig-login-button:hover, .twitter-login-button:hover{
	color: white;
}

.fb-login-button {
	background: #3B5998;	
}

.ig-login-button {
	background: #E1306C;
}

.twitter-login-button {
	background: #1DA1F2;
}

.photo-board {
	height:55em;
}

@media only screen and (max-width: 991px) {
	.photo-board {
		height:35em;
	}
}

@media only screen and (max-width: 767px) {
	.photo-board {
		height:28em;
	}
}

@media only screen and (max-width: 395px) {
	.photo-board {
		height:20em;
	}
}

.card {
	width: 18rem;
}






